/* public/style.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #fff;
  text-align: center;
  padding: 20px;
}
input, button {
  padding: 10px;
  margin: 10px;
}
video {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}
#fakeCursor {
  width: 20px;
  height: 20px;
  background-color: #00bcd4;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  display: none;
  z-index: 1000;
}
